@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500;600;700&display=swap');
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}


/* Card master */

.cardMaster {
    width: 100%;
    max-width: 700px;
    height: 80%;
    max-height: 800px;
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow-y: scroll;
}

.visible {
    display: none;
    /* Initially hide the card */
}

.visible.show {
    display: block;
    /* Show the card when .show is added */
}

.closebtn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.5em;
    position: absolute;
    top: 5px;
    /* Adjust the top position as needed */
    right: 10px;
    /* Adjust the left position as needed */
    z-index: 2;
}

.closebtn:hover {
    color: var(--primary-blue);
}

.cardTitleContainer {
    margin-top: .6em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.githubBtn {
    min-width: 6em;
    width: auto;
    padding: .5em 1em;
    border-radius: 30px;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    transition: .3s;
    gap: 1em;
}

.githubBtn:hover {
    background-color: #333;
}

.cardMaster h1 {
    text-align: left;
    color: #444;
    font-weight: 700;
    font-style: bold;
    width: 70%;
}

.cardMaster h3 {
    text-align: left;
    line-height: 1.5em;
    font-weight: 400;
    font-size: 1em;
    color: var(--primary-blue);
}

.cardMaster h3 span {
    color: #555;
    font-family: 'M PLUS Code Latin', sans-serif;
}

.cardMaster button a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.cardMaster p {
    margin-top: 1em;
    text-align: left;
    font-size: .8em;
    color: #333;
}

@media (max-width: 480px) {
    .cardMaster {
        width: 90vw;
        height: 50vh;
    }
    .cardMaster h1 {
        font-size: 1em;
    }
    .githubBtn {
        width: auto;
        padding: .5em 1em;
        font-weight: 500;
        font-size: .5em;
        gap: 1em;
    }
    .cardMaster h3 {
        text-align: left;
        line-height: 1.5em;
        font-weight: 400;
        font-size: .7em;
        color: var(--primary-blue);
    }
    .cardMaster h3 span {
        font-size: .8em;
    }
    .cardMaster p {
        font-size: .7em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .cardMaster {
        width: 90vw;
        height: 50vh;
    }
    .cardMaster h1 {
        font-size: 1.3em;
        line-height: 1.1em;
    }
    .githubBtn {
        width: auto;
        padding: .5em 1em;
        font-weight: 500;
        font-size: .6em;
        gap: 1em;
    }
    .cardMaster h3 {
        text-align: left;
        line-height: 1.5em;
        font-weight: 400;
        font-size: .8em;
        color: var(--primary-blue);
    }
    .cardMaster h3 span {
        font-size: .9em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cardMaster {
        width: 90vw;
    }
    .cardMaster h1 {
        font-size: 1.9em;
    }
}