.swiper {
    width: 100%;
    /* height: 100%; */
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
    border-radius: .5em;
}

.swiper-slide {
    text-align: center;
    font-size: 20px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 1px solid red; */
}

@media (max-width: 480px) {
    .swiper {
        height: 50%;
    }
    .swiper-slide {
        font-size: 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .swiper {
        height: 65%;
    }
    .swiper-slide {
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .swiper {
        height: 60%;
    }
    .swiper-slide {
        font-size: 18px;
    }
}